.go{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.og{
    background-color: #EEEEEE;
    padding: 40px 30px 50px 30px ;
    text-align: center;
    border-radius: 10px;
    margin: 50px 0;
}

.tt{
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}
.t{
    font-size: 24px;
}

.w{
    background-color: #ffff;
    margin: 0;
    border-radius: 60px;
}
.lo{
    width: 98%;
    border-radius: 60px 60px;
}
.y{
    padding: 15px 0px;
    line-height:170%;
    font-size: 22px;
    margin-left: 3px;
    margin-right: 3px;
}

.rr{
    padding: 50px 0;
    margin-bottom: 30px;
}

.tim{
    max-width: 700px;
    margin: 50px auto 0;
}
 .tim_list{
     text-align: left;
     line-height: 170%;
     margin: 20px;
     font-size: 20px;
 }

 .me{
     font-size: 22px ;
     margin: 0 auto;
     line-height: 200%;
     max-width: 700px;
     font-style: italic;
     text-align: left;
     padding: 30px 0;
 }

 .mn{
     background-color: #ffff;
     border-radius: 50px;
     width: 98%;
 }

 .bb{
     line-height: 70px;
     font-size: 20px;
 }

 .fg{
     padding: 50px auto 0;
     margin: 0;
     font-size: 17px;
     font-style: italic;
     text-align: center;
     
 }