body{
    font-family: Arial, Helvetica, sans-serif;
}
/* GENERAL SESSION */
main{
        background-color: rgba(247, 246, 240, 255);
        width: 700px;
       line-height: -10%;
}
/* PAGE HEADER SESSION */
header{
    background-color: rgb(40, 38, 38);
    color: #eee;
    max-height: 1000%;
    text-align: center;
    font-size: 15px;
    opacity: 80%;
    line-height: 250%;
    font-family: monospace;
}
/* page after header */
.p{
    text-align: center;
    margin: 7% 0px 5px 0px;
    opacity: 100%;
    font-size: 27px;
    color: rgb(179, 169, 169);

}

/* GENERAL INPUT SESSION */
.inner{
      margin: 2% 10px 1% 300px; 
      opacity: 80%;
     line-height: 150%;
     color: rgb(179, 169, 169);
    

}

/* input session */
.in{
            width: 10px;
            height: 10px;
            background: rgb(179, 169, 169) no-repeat center center;
}

/* GENERAL STLYING FOR BUTTON*/
.btn{
      border: none;
        padding: 40px 20%;
        margin-bottom: 40px;
        margin-top: 10px;
        display: inline-block;
        font-family: monospace;
        
}

 /* BUTTON ONE */
.btn1{
    height: 50px;
    width: 190px;
    background-color:rgba(41, 126, 150, 255);
    border-color:rgba(41, 126, 150, 255);
    color: whitesmoke;
    font-family: monospace;
    font-size: 18px;

}

 /* BUTTON TWO */
.btn2{
    height: 50px;
    width: 140px;
    text-align: center;
    background-color: rgba(41, 126, 150, 255);
    border-color: rgba(41, 126, 150, 255);
    cursor: pointer;
    color: whitesmoke;
    font-family: monospace;
    font-size: large;

}

/* button hover */
.btn2:hover{
    background-color: rgba(58, 143, 166, 255);
}

/* radio button color */
input[type="radio"] {
    accent-color: rgba(41, 126, 150, 255);
    width: 20px;
}

footer{
    background-color: rgb(40, 38, 38);
        max-height: 1000%;
        opacity: 80%;
        line-height: 20%;
        color: transparent;
        user-select: none;
}